html, body, #game {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: Oswald, courier new, monospace;
  background-color: #f7fbfc;
}

#game {
  .figure {
    display: block;
    position: absolute;
  }
}
